<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="admin">Admin</a>
        </li>
        <!-- Directives Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Directives</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="'dataBinding'">Data-Binding</a></li>
            <li><a class="dropdown-item" routerLink="ng-class">NgClass</a></li>
            <li><a class="dropdown-item" routerLink="control-flow">ControlFlow</a></li>
            <li><a class="dropdown-item" routerLink="ng-if">NgIf</a></li>
            <li><a class="dropdown-item" routerLink="ng-for">NgFor</a></li>
          </ul>
        </li>
        <!-- Signals Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Signals</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="signal">Signal</a></li>
            <li><a class="dropdown-item" routerLink="linked-signal">LinkedSignal</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Forms</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="template-form">TemplateForm</a></li>
            <li><a class="dropdown-item" routerLink="reactive-form">ReactiveForm</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">API</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="get-api">GetApi</a></li>
            <li><a class="dropdown-item" routerLink="post-api">PostApi</a></li>
            <li><a class="dropdown-item" routerLink="customer">Customer</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">ResourceAPI</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="resource-api">ResourceApi</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">LifeCycle</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="life-cycle">LifeCycle</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-success" type="button" (click)="onLogoff()">Logout</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
