<p class="fs-4 text-primary">life-cycle works!</p>

<div class="p-4 bg-light border rounded shadow-sm">
  <h3 class="text-secondary mb-3">Life Cycle Flow:</h3>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item">constructor()</li>
    <li class="list-group-item">ngOnChanges()</li>
    <li class="list-group-item">ngOnInit()</li>
    <li class="list-group-item">ngDoCheck()</li>
    <li class="list-group-item">ngAfterContentInit()</li>
    <li class="list-group-item">ngAfterContentChecked()</li>
    <li class="list-group-item">ngAfterViewInit()</li>
    <li class="list-group-item">ngAfterViewChecked()</li>
    <li class="list-group-item">ngOnDestroy()</li>
  </ol>
</div>
