<div class="row">
  <div class="col-3 p-4" [ngStyle]="{
    'background-color': div1BgColor,
    'color': 'blue'
  }">
    Div 1
  </div>
  <div class="col-3 p-4 mx-4"  [ngStyle]="{
    'background-color': isChecked == true ? 'orange' : 'blue',
    'color': 'white'
  }">
  div 2
</div>
<div class="col-3" [ngStyle]="myCss">
  Div 3
</div>
</div>
<div class="row pt-4">
  <div class="col-3">
    <button class="btn btn-success" (click)="addDiv1Color('green')">green</button>
    <button class="btn btn-danger" (click)="addDiv1Color('red')">danger</button>
  </div>
  <div class="col-3">
    <input type="checkbox" name="" id="" [(ngModel)]="isChecked">
  </div>
</div>
